vcpkg/
HW/
AI Learning/Doodle Classifier/QuickDrawData/data/train.npy
AI Learning/Doodle Classifier/QuickDrawData/data/rainbow.npy
AI Learning/Doodle Classifier/QuickDrawData/data/cat.npy
AI Learning/Toy-Neural-Network-JS/
Web Dev/32 Piano Keys, JavaScript Events/debug.log
Gajabaar/
*.ipch
